{% extends 'ana.html' %} 
{% comment %} Yukarıda anasafaya bağlayacak tanımlamayı yaptık {% endcomment %}
{% load static %}
<!--yukarıda static dosyalara ulaşmak için import ettik - -->

{% block css_files %}
<link rel="stylesheet" href="{% static 'pages/css/denemecss.css' %}">
{%  endblock  %}



     <!-- Orta alan--------------------- -->

     
     {% block orta_alan %}
   



    <form action="{% url 'search' %}" method="GET">
        <label for="q">Arama sorgusu:</label>
        <input type="text" id="query" name="q">
        <button type="submit">Ara</button>
    </form>
     
<h1>burası güncelleme sayfasıdır</h1>

    <form method="POST" novalidate>
        {% csrf_token %}
        <div >{{ form.as_p }}</div>
        
        <button type="submit">Güncelle</button>
      </form>
    {% endblock orta_alan %}
