{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/denemecss.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/all.css"> 
    {% block css_files %}{% endblock css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Document</title>

</head>
<body>


<div class="menu">
    <input type="checkbox" id="kontrol">
    <label for="kontrol" class="kontrol">
        <i class="fa-solid fa-bars-staggered"></i>
    </label>
    <ul>
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Hakkımızda</a></li>
        <li><a href="#">Tütünlerimiz</a></li>
        <li><a href="iletişim.html">İletişim</a></li>
    </ul>
</div>











    
    <!--galeri bölümü --------------------- -->



    <div class="galeri">
        <div class="web">
            <h4>BİTLİS  TÜTÜNÜ</h4>
        </div>       
        <div class="button">
            <a href="#"><i><i class="fa-brands fa-whatsapp"></i></i> Whatsapp ile Sipariş Ver</a>
            <!-- <a href="#"><i class="fa-solid fa-phone"></i>Telefon ile Sipariş Ver</a> -->
        </div>
    </div>








    


     <!-- Orta alan--------------------- -->
    <div class="orta_alan">
        <div class="orta">
            <div class="içerik">
                <img src="./img/ürün1.webp" alt="">
                <h3>BİTLİS TÜTÜNÜ</h3>
                <p>Tütün, Solanaceae familyasının Nicotiana cinsindeki birçok bitkinin adıdır. Başta Nicotiana tabacum ve Nicotiana rustica türleri olmak üzere, dünya genelinde bilinen 70'den fazla tütün türü bulunmaktadır.</p>
                <div class="button">
                    <a href="#"><i><i class="fa-brands fa-whatsapp"></i></i> Whatsapp ile Sipariş Ver</a>
                    <!-- <a href="#"><i class="fa-solid fa-phone"></i>Telefon ile Sipariş Ver</a> -->
                </div>
            </div>
        </div>
        <div class="orta">
            <div class="içerik">
                <img src="./img/ürün1.webp" alt="">
                <h3>BİTLİS TÜTÜNÜ</h3>
                <p>Tütün, Solanaceae familyasının Nicotiana cinsindeki birçok bitkinin adıdır. Başta Nicotiana tabacum ve Nicotiana rustica türleri olmak üzere, dünya genelinde bilinen 70'den fazla tütün türü bulunmaktadır. </p>
                <div class="button">
                <a href="#"><i><i class="fa-brands fa-whatsapp"></i></i> Whatsapp ile Sipariş Ver</a>
                    <!-- <a href="#"><i class="fa-solid fa-phone"></i>Telefon ile Sipariş Ver</a> -->
                </div>
            </div>
        </div>
        <div class="orta">
            <div class="içerik">
                <img src="./img/ürün1.webp" alt="">
                <h3>BİTLİS TÜTÜNÜ</h3>
                <p>Tütün, Solanaceae familyasının Nicotiana cinsindeki birçok bitkinin adıdır. Başta Nicotiana tabacum ve Nicotiana rustica türleri olmak üzere, dünya genelinde bilinen 70'den fazla tütün türü bulunmaktadır. </p>
                <div class="button">
                    <a href="#"><i><i class="fa-brands fa-whatsapp"></i></i> Whatsapp ile Sipariş Ver</a>
                    <!-- <a href="#"><i class="fa-solid fa-phone"></i>Telefon ile Sipariş Ver</a> -->
                </div>
            </div>
        </div>
        <div class="orta">
            <div class="içerik">
                <img src="./img/ürün1.webp" alt="">
                <h3>BİTLİS TÜTÜNÜ</h3>
                <p>Tütün, Solanaceae familyasının Nicotiana cinsindeki birçok bitkinin adıdır. Başta Nicotiana tabacum ve Nicotiana rustica türleri olmak üzere, dünya genelinde bilinen 70'den fazla tütün türü bulunmaktadır. </p>
                <div class="button">
                    <a href="#"><i><i class="fa-brands fa-whatsapp"></i></i> Whatsapp ile Sipariş Ver</a>
                    <!-- <a href="#"><i class="fa-solid fa-phone"></i>Telefon ile Sipariş Ver</a> -->
                </div>
            </div>
        </div>
    </div>




    <!-- ----Alt Alan----------------- -->
    <div class="alt_alan">
        <div class="icerik">
            
            <h3>İletişim</h3>
            <p>Tütün, Solanaceae familyasının Nicotiana cinsindeki birçok bitkinin adıdır. Başta Nicotiana tabacum ve Nicotiana rustica türleri olmak üzere, dünya genelinde bilinen 70'den fazla tütün türü bulunmaktadır. </p>
        </div>
        <div class="icerik">
            
            <h3>Kalitenin Adresi</h3>
            <p>Tütün, Solanaceae familyasının Nicotiana cinsindeki birçok bitkinin adıdır. Başta Nicotiana tabacum ve Nicotiana rustica türleri olmak üzere, dünya genelinde bilinen 70'den fazla tütün türü bulunmaktadır. </p>
        </div>
        <div class="icerik">
            
            <h3>Bize Ulaşın</h3>
            <p>Tütün, Solanaceae familyasının Nicotiana cinsindeki birçok bitkinin adıdır. Başta Nicotiana tabacum ve Nicotiana rustica türleri olmak üzere, dünya genelinde bilinen 70'den fazla tütün türü bulunmaktadır. </p>

            
        </div>



        <div class="sosyal">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
            <a href="#"><i class="fab fa-whatshapp-square"></i></a>
        </div>



</div>

</body>
</html>