{% extends 'ana.html' %} 
{% comment %} Yukarıda anasafaya bağlayacak tanımlamayı yaptık {% endcomment %}
{% load static %}
<!--yukarıda static dosyalara ulaşmak için import ettik - -->

{% block css_files %}
<link rel="stylesheet" href="{% static 'pages/css/denemecss.css' %}">
{%  endblock  %}



     <!-- Orta alan--------------------- -->

     
     {% block orta_alan %}
   



    <form action="{% url 'search' %}" method="GET">
        <label for="q">Arama sorgusu:</label>
        <input type="text" id="query" name="q">
        <button type="submit">Ara</button>
    </form>
     
<h1>.</h1>
<h1>yükleme sayfasıdır</h1>
    <form method="POST" enctype="multipart/form-data" action="{% url 'resim_yükle' %}">
        {% csrf_token %}
        <input type="file" name="dosya" multiple=true>
{% comment %} yukarıda multiple=true ile çoklu dosya yüklemeyi aktif ettik {% endcomment %}
        <button type="submit">Yükle</button>
      </form>




      <h1>.</h1>




    {% endblock orta_alan %}



































<!--yukarıda layout sayfasına ulaşıp static dosyalara ulaşmak için yol yarattık -->

{% comment %} 
{% block content %} 
    <h1 id="a">{{ name }} </h1>
    <h1>{{ name2 }}</h1>

{% for a in name2  %}
<li>{{ a }}</li>
name2 değişkeni içinde bir for döngüsü oluşturduk

{% endfor %}
<img src="{% static 'uygulama3/img/ürün1.webp' %}" alt="">





{% endblock  %} {% endcomment %}
